// Colors
$grey-color-100: #F8F9F9;
$grey-color-200: #F2F3F4;
$grey-color-300: #D5DBDB;
$grey-color-400: #D7DBDD;
$grey-color-500: #CACFD2;
$grey-color-600: #BDC3C7;
$grey-color-700: #A6ACAF;
$grey-color-800: #909497;
$grey-color-900: #797D7F;
$white-color: #ffffff;
$black-color: #000000;
$purple-color-100:#f1eff5;
$purple-color-150:#e3dfec;
$purple-color-200:#d5d0e2;
$purple-color-250:#c7c0d8;
$purple-color-300:#b9b0cf;
$purple-color-350:#aba0c5;
$purple-color-400:#9c90bb;
$purple-color-450:#8e81b1;
$purple-color-500:#8071a8;
$purple-color-550:#72619e;
$purple-color-600:#6b5b95;
$purple-color-650:#67578e;
$purple-color-700:#5b4e7e;
$purple-color-750:#50446f;
$purple-color-800:#453a5f;
$purple-color-850:#39304f;
$purple-color-900:#2e273f;
$purple-color-950:#221d2f;
$yellow-color-100:#ffebcc;
$yellow-color-150:#ffe2b3;
$yellow-color-200:#fed89a;
$yellow-color-250:#fece80;
$yellow-color-300:#fec467;
$yellow-color-350:#feba4d;
$yellow-color-400:#feb236;
$yellow-color-450:#fea71b;
$yellow-color-500:#fe9d01;
$yellow-color-550:#e48d01;
$yellow-color-600:#cb7e01;
$yellow-color-650:#b26e01;
$yellow-color-700:#985e01;
$yellow-color-750:#7f4e01;
$yellow-color-800:#653f01;
$yellow-color-850:#4c2f00;
$yellow-color-900:#331f00;
$yellow-color-950:#191000;



//Breakpoints
$xs-breakpoint: 30em;
$sm-breakpoint: 48em;
$md-breakpoint: 64em;
$lg-breakpoint: 74em;
$xl-breakpoint: 90em;

//Theme
$primary-color: $purple-color-600;
$secondary-color: $yellow-color-400;